<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <div id="canvas-map" class="canvas-map">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-38.9275324344635%2C-12.248361261072812%2C-38.92342329025269%2C-12.245336431609775&amp;layer=mapnik&amp;marker=-12.246848850674164%2C-38.92547786235809" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=-12.24685&amp;mlon=-38.92548#map=18/-12.24685/-38.92548">Ver Mapa Ampliado</a></small>
</div>
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            <div class="row">
                <div class="pull-left">
                    <h3>{{ site.locationBlockTitle }}</h3>
                    <ul>
                        {% if site.eventLocationName %}<li>{{ site.eventLocationName }}</li>{% endif %}
                        <li>{{ site.eventStreetAddress }}, {{ site.eventAddressLocality }}</li>
                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                        <li>
                            {% assign startTime = site.eventStartTime | split: "T" %}
                            <time>{{ startTime[1] }}</time> -
                            {% assign endTime = site.eventEndTime | split: "T" %}
                            <time>{{ endTime[1] }}</time>
                        </li>
                    </ul>
                </div>
                <a href="{{ site.baseurl | append: '/logistics/#find-way' }}" class="pull-right">
                    <svg class="icon icon-direction" viewBox="0 0 32 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Location Section -->
